<article class="excerpt">
<!-- Image -->
<a href="https://player.vimeo.com/video/{{project.video}}?color=FFFFFF&title=0&byline=0&portrait=0" data-lity>
<div class="excerpt__image">
<img src="{{project.img}}" alt="{{project.title}}" />
</div>
</a>
<!-- End Image -->

<!-- Title -->
<h2 class="excerpt__title"><a href="https://player.vimeo.com/video/{{project.video}}?color=FFFFFF&title=0&byline=0&portrait=0" data-lity>{{ project.title }}</a></h2>
<!-- End Title -->

<!-- Company -->
<p class="excerpt__with"><a href="https://player.vimeo.com/video/{{project.video}}?color=FFFFFF&title=0&byline=0&portrait=0" data-lity>{{ project.excerpt }}</a></p>
<!-- End Company -->


</article>