<footer>
<!-- Top -->
<div class="row footer__top">
  <div class="small-12 medium-4 columns">
  <a href="tel:02072535558">+44 (0) 20 7253 5558</a>
  <a href="mailto:{{site.email}}">{{site.email}}</a>
  <br>
  </div>
  
  <div class="small-12 medium-4 columns">
  <a href="https://goo.gl/maps/fXDh2f1qdzj">17D Clerkenwell Road<br>
  London EC1M 5RD</a>
  </div>
</div>
<!-- End Top -->

<!-- Bottom -->
<div class="row expanded footer__bottom">
  <div class="small-6 medium-6 columns align-middle text-left">
  <a href="mailto:{{site.email}}">© {{site.company}}</a>
  </div>
  
  <div class="small-6 medium-6 columns text-right">
  <a href="http://garethjohnsdesign.com">Site</a>
  </div>
</div>
<!-- End Bottom -->

</footer>
	
