@font-face {
  font-family: 'BauComp';
  src: url('../fonts/BauComp.eot?#iefix') format('embedded-opentype'), url('../fonts/BauComp.woff') format('woff'), url('../fonts/BauComp.ttf')  format('truetype'), url('../fonts/BauComp.svg#BauComp') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BigCaslon';
  src: url('../fonts/BigCaslon.eot?#iefix') format('embedded-opentype'), url('../fonts/BigCaslon.woff') format('woff'), url('../fonts/BigCaslon.ttf')  format('truetype'), url('../fonts/BigCaslon.svg#BigCaslon') format('svg');
  font-weight: normal;
  font-style: normal;
}