// Standard

body {
    opacity: 1;
    transition: $primary-transition;
}
body.fade-out {
    opacity: 0;
    transition: $primary-transition;
}

svg {
	max-width: 100%;
}

img {
	display: block;
	max-width: 100%;
	height: auto
}

::selection {
    background: #FFFFFF;
    color: #000000;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

// Typography

.uppercase {
	text-transform: uppercase;
}

@mixin accent-text {
	text-transform: uppercase;
	letter-spacing: $letter-spacing--looser;
}

// Layout

a { 
	transition: $primary-transition;
}

.detail {
	font-size: 0.9rem;
	font-family: $body-font-family;
}

.underline-black { 
	@include underline-from-left;
}


// Header

.navigation {
// 	font-family: $header-font-family;
	font-size: 1.5rem;
	padding-top: 1rem;
	@include breakpoint(xlarge) {
   padding: 2rem;
  	}
}

.current a {
  color: $color--dark-gray;
}

// 404

.missing {
	margin-top: 3rem;
	margin-bottom: 3rem;
	a {
    color: $color--dark-gray;
    }
    a:hover {
    color: $color--black;
    }
}

//Index

.index__description {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.index__content {
	padding-top: 0rem;
	padding-bottom: 3rem;
}


// Project

.project__meta {
	padding-top: 2rem;
}

.project__meta p {
	margin-bottom: 0rem;
}

.project__meta .detail {
	color: $color--dark-gray;
}

.project__hero {
	padding-top: 3rem;
}

.project__content {
	padding-top: 3rem;
}

.project__content a {
  color: $color--dark-gray;
  &:hover {
    color: $color--black;
  }
}

.project__share {
	@include accent-text;
}

.project__share__bottom {
	padding-top: 2rem;
	@include accent-text;
}

.project__pagination {
	padding-top: 2rem;
}


// Excerpt

.excerpt {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.excerpt__image {
    position:relative;
}

.excerpt__image:after {
    content:'\A';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.4);
    opacity:1;
    transition: $primary-transition;
}

.excerpt__image:hover:after {
    opacity:0;
}

.excerpt__image img {
    filter: grayscale(1) contrast(1.05);
    transition: $primary-transition;
}

.excerpt__image img:hover {
    filter: none;
}


.excerpt__title {
	padding-top: 1rem;
	margin-bottom: 0.25rem;
	line-height: $line-height--tight;
	a {
//     color: $color--dark-gray;
    }
}

.excerpt p {
	margin-bottom: 0;
}

// About

.about__content {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.about__cv {
	padding-top: 3rem;
	padding-bottom: 3rem;
}


// Footer

footer {
	margin-top: 3rem;
// 	color: $color--dark-gray;
	padding-bottom: 1rem;
	padding-top: 1rem;
	a {
//     color: $color--black;
    }
}

.footer__top {
	padding-top: 3rem;
	padding-bottom: 3rem;
// 	font-family: $header-font-family;
	font-size: 1.5rem;
}

footer .detail {
	padding-bottom: 1rem;
}

.footer__bottom {
	transition: $primary-transition;
	@include breakpoint(xlarge) {
   padding: 2rem;
  	}
	a {
//     color: $color--dark-gray;
    }
}